<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user, options = {size:  50} %> <!-- choose any size... -->
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
